.wrapper {
    width: 100%;
    background-color: #fefefe;
}

.container {
    margin: 20px auto;
    width: 100%;
    /* max-width: 1280px; */
}

.cameras {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    * {
        flex-basis: 50%;
    }

    video, canvas {
        border: 1px solid gray;
        background-color: #fefefe;
    }
}
input[type="button"] {
    border: 1px solid black;
}